branches:
- master
plugins:
- "@semantic-release/commit-analyzer"
- "@semantic-release/changelog"
- "@semantic-release/release-notes-generator"
- "@semantic-release/git"
- "@semantic-release/github"
- "@semantic-release/npm"