# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Docs
on:
  push:
    branches:
      - master
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node_version: 18
        cache: npm
        cache-dependency-path: package-lock.json
    - run: npm ci
    - run: npm run docs
    - run: touch docs/.nojekyll
    - name: GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v1.3.0
      with:
          target_branch: gh-pages
          build_dir: docs
          committer_name: googlemaps-bot
          committer_email: googlemaps-bot@google.com
          commit_message: "chore: publish docs"
          keep_history: true
      env:
        GITHUB_PAT: ${{ secrets.SYNCED_GITHUB_TOKEN_REPO }}

